* {
  box-sizing: border-box;
}

:root {
  --primary-btn-color: #ff5b2e;
  --border-btn-color: #ff5b2e99;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  background: #fffaf5;
  position: relative;
}

/* Common */

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1169px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  --height: 56px;
  padding: 0 24px;
  height: var(--height);
  line-height: var(--height);
  min-width: 117px;
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 99px;
  border: 1px solid #000958b3;
}

.btn--primary {
  color: #fff;
  background: var(--primary-btn-color);
  border-color: var(--primary-btn-color);
}

.section__heading {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.section__desc {
  margin-top: 24px;
  color: #656689;
  font-weight: 400;
  line-height: 1.86;
}

.about__decor {
  position: absolute;
}

.section__label {
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-weight: 600;
  line-height: 1;
}
/* Header */

.header {
  padding: 26px 0 10px;
  position: sticky;
  background: #fffaf5;
  top: 0;
  z-index: 2;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

/* Hero */

.hero {
  padding: 90px 0 65px;
}

.hero__inner {
  display: flex;
  align-items: center;
  gap: 120.5px;
}

.hero__media {
  position: relative;
  display: flex;
  padding-bottom: 94px;
}

.hero__media-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.hero__media-img {
  align-self: flex-end;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.hero__media-decor {
  position: absolute;
  display: flex;
  z-index: -1;
}

.hero__media-decor:nth-child(2) {
  top: 17px;
  right: -41px;
}
.hero__media-decor:nth-child(3) {
  bottom: 10px;
  left: -58px;
}

.hero__media-img-wrapper:nth-child(2) {
  align-self: flex-end;
  margin: 0 0 -58px -23px;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  background: #faa7ad;
  border: 2px solid #ffffffa6;
}

.hero__media-card {
  position: absolute;
  left: 129px;
  bottom: 0;
  padding: 18px 14px;
  width: 250px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: -17px 14px 68px -4px #cfae8440;
}

.hero__card-item {
  display: flex;
}

.hero__card-seperate {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #00095814;
}

.hero__card-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
}

.hero__card-item:last-child .hero__card-img {
  background: #c6e2fa;
}

.hero__card-body {
  margin-left: 10px;
}

.hero__card-title {
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #181e52;
}

.hero__card-skeletion {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 2px;
  background: #00095814;
}

.hero__card-skeletion:nth-of-type(2) {
  width: 39px;
}

.hero__heading {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  max-width: 391px;
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.hero__btn-cta {
  --height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 189px;
  column-gap: 10px;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero__cta-arrow--right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  background: #fff;
}

.hero__cta-link {
  color: #000958;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}

/* About */

.about {
  padding: 65px 0;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 146px;
  justify-content: space-between;
}

.about__media {
  position: relative;
}

.about__label {
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-weight: 600;
  line-height: 1;
}

.about__heading,
.about__desc {
  width: 440px;
}

.about__heading {
  margin-top: 15px;
}

.about__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  gap: 34px 36px;
}

.about__list-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.about__list-item::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about__list-item::after {
  content: url(../icon/about-check.svg);
  position: absolute;
  top: 2px;
  left: 5px;
}

.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  padding: 31px 26px;
  width: 136px;
  text-align: center;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
  color: #fff;
  font-family: Sora, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about__card-desc {
  margin-top: 14px;
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
}

.about__card-decor {
  position: absolute;
  top: -39px;
  right: -32px;
}

.about__img-wrapper {
  margin-left: auto;
  position: relative;
  width: 494px;
}

.about__img-wrapper::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  z-index: -1;
}

.about__img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 450px;
}

.about__decor-02 {
  position: absolute;
  top: 157px;
  right: -51px;
  z-index: -1;
}

.about__img-wrapper--bottom {
  position: relative;
  display: flex;
  margin-left: initial;
  width: 458px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media:nth-of-type(2) .about__img {
  width: 100%;
}

.about__decor:nth-of-type(2) {
  top: 12.5px;
  right: 61px;
}
.about__decor:nth-of-type(3) {
  top: -16px;
  right: 13px;
}
.about__decor:nth-of-type(4) {
  top: 33px;
  right: -21px;
}
.about__decor:nth-of-type(5) {
  top: 268px;
  right: -33px;
}
.about__decor:nth-of-type(6) {
  bottom: 150px;
  right: 19px;
}
.about__decor:nth-of-type(7) {
  bottom: -55px;
  right: -42px;
}

.about__desc-bottom {
  max-width: 511px;
}

.about__tab {
  margin-top: 52px;
}

.about__tab-list {
  position: relative;
  display: flex;
  column-gap: 56px;
}

.about__tab-list::after,
.about__tab-item--active::after {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #ff5b2e12;
}

.about__tab-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.about__tab-item--active::after {
  width: 95px;
  background: var(--primary-btn-color);
}

.about__tab-icon {
  flex-shrink: 0;
  width: 28px;
}

.about__tab-title {
  color: #48496a;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.tab__content {
  display: flex;
  overflow: hidden;
}

.tab__content-item {
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 11px;
}

.tab__content-desc {
  padding: 46px 0 32px;
  max-width: 391px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 1.71;
}

.tab__content-link {
  position: relative;
  color: #ff5d31;
  font-weight: 500;
  line-height: 1;
}

.tab__content-link::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -5px;
  height: 1.5px;
  background: #ff5d31;
}

/* Services */

.services {
  margin: 65px 0;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.services__top {
  text-align: center;
}

.services__heading {
  margin-top: 15px;
}

.services__body {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 71px;
}

.services__item + .services__item {
  margin-top: 24px;
}

.services__item {
  width: 294px;
  padding: 30px 28px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.services__item-heading {
  padding-left: 12px;
  position: relative;
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.services__item-heading::before {
  position: absolute;
  content: "";
  display: inline-block;
  inset: 0 auto 0 0;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.services__item-desc {
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.services__item-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
  color: #34396a;
  font-family: Sora, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.services__img-wrapper {
  position: relative;
  width: 100%;
}

.services__img {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
}

.services__img-wrapper::after {
  position: absolute;
  inset: auto 10px 0;
  content: "";
  height: 350px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__cta {
  margin-top: 45px;
  text-align: center;
}

.services__btn-cta {
  min-width: 214px;
  color: var(--primary-btn-color);
  border-color: var(--border-btn-color);
}

/* Staff */

.staff {
  padding: 65px 0;
}

.staff__top {
  text-align: center;
}

.staff__heading {
  margin-top: 15px;
}

.staff__body {
  margin-top: 45px;
}

.staff-list {
  display: flex;
  flex: 1;
  column-gap: 35px;
}

.staff-item {
  position: relative;
  text-align: center;
}

.staff__img-wrapper {
  position: relative;
  margin: 0 16px;
  border-radius: 129.5px;
}

.staff__img-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-image: url(../img/staff-decor-01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.staff-item:nth-child(2) .staff__img-wrapper::before {
  background-image: url(../img/staff-decor-02.png);
}
.staff-item:nth-child(3) .staff__img-wrapper::before {
  background-image: url(../img/staff-decor-03.png);
}
.staff-item:nth-child(4) .staff__img-wrapper::before {
  background-image: url(../img/staff-decor-04.png);
}

.staff-item:nth-child(even) .staff__img-wrapper::before {
  background-position: 0 16px;
}

.staff__img-wrapper::after {
  position: absolute;
  content: "";
  inset: auto 0 0 0;
  height: 93%;
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  z-index: -1;
}

.staff-item:nth-child(2) .staff__img-wrapper::after {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff__img-wrapper::after {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff__img-wrapper::after {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.staff-item__desc {
  margin-top: 35px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #656689;
}

.staff-item__name {
  margin-top: 14px;
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  color: #000958;
}

.staff__cta {
  margin-top: 48px;
  text-align: center;
}

.staff__btn-cta {
  min-width: 193px;
  color: var(--primary-btn-color);
  border-color: var(--border-btn-color);
}

/* Pricing */

.pricing {
  margin: 65px 0;
  padding: 86px 0;
  background: #fff6ed;
}

.pricing__container {
  width: 994px;
}

.pricing__top {
  text-align: center;
}

.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__switch-wrap {
  display: flex;
  justify-content: center;
}

.pricing__switch {
  position: relative;
}

.pricing__switch-label {
  position: relative;
  margin-top: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid var(--border-btn-color);
}

.pricing__switch-label::after {
  position: absolute;
  left: 0;
  content: "";
  height: 100%;
  width: 140px;
  border-radius: inherit;
  background: var(--primary-btn-color);
}

.pricing__switch-value {
  position: relative;
  z-index: 1;
  color: var(--primary-btn-color);
  font-weight: 500;
  line-height: 1;
  user-select: none;
}

.pricing__switch-input:checked + .pricing__switch-label::after {
  left: auto;
  right: 0;
  width: 131px;
}

.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-child(1),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-child(2) {
  color: #fff;
}

.pricing-sale-off {
  position: absolute;
  top: 23px;
  right: -112px;
}

.pricing-list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
}

.pricing-item {
  padding: 30px 28px 43px;
  width: 100%;
  border-radius: 20px;
  background: #fff;
}

.pricing-item:nth-child(2) {
  box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
.pricing-item:nth-child(2) .pricing-item__btn {
  color: #fff;
  background: var(--primary-btn-color);
  border-color: var(--primary-btn-color);
}

.pricing-item__type {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}

.pricing-item__heading {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.pricing-item__price {
  margin-top: 24px;
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.03;
}

.pricing-item__btn {
  --height: 44px;
  margin-top: 24px;
  min-width: 100%;
  border-radius: 39px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: #ff5b2e;
  font-weight: 500;
  line-height: 1;
  outline: none;
  background: transparent;
}

.pricing-item__list {
  margin-top: 24px;
}

.pricing-item__item + .pricing-item__item {
  margin-top: 18px;
}

.pricing-item__item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}

.pricing-item__item::before {
  content: url(../icon/pricing-check.svg);
}
